* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('5.jpg');
    /* Ganti 'nama-file-gambar.jpg' dengan lokasi dan nama file gambar Anda */
    background-size: cover;
    background-position: center;
}

.booking-container {
    width: 70%;
    margin: 80px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 280px;
}

h2 {
    margin-bottom: 20px;
}



form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    display: inline-block;
    width: 150px;
    text-align: left;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 170px);
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.button-group {
    margin-top: 20px;
}

.back-button,
.continue-button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover,
.continue-button:hover {
    background-color: #0056b3;
}

.body {
    display: flex;
}

.user-p {
    text-align: center;
    padding-left: 10px;
    padding-top: 25px;
}

.user-p img {
    width: 150px;
    height: 50px;
    border-radius: 50%;
}

.user-p h4 {
    color: #ccc;
    padding: 5px 0;

}


#navbtn {
    display: inline-block;
    margin-left: 70px;
    font-size: 20px;
    transition: 500ms color;
}

#checkbox {
    display: none;
}

#checkbox:checked~.body .side-bar {
    width: 60px;
}

#checkbox:checked~.body .side-bar .user-p {
    visibility: hidden;
}

#checkbox:checked~.body .side-bar a span {
    display: none;
}